bento-mdf==0.13.0
boto3==1.42.70
botocore==1.42.70
deepdiff==9.0.0
graphql-core==3.2.8
greenlet==3.3.2
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
importlib_metadata==8.7.1
jmespath==1.1.0
Markdown==3.10.2
neo4j==6.1.0
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.1
pip-autoremove==0.10.0
prefect-aws==0.5.9
prefect-docker==0.6.2
prefect-github==0.3.1
prefect-shell==0.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.16.0
sgqlc==18
six==1.17.0
tabulate==0.9.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wonderwords==2.2.0
zipp==3.23.0
