aiosqlite==0.21.0
alembic==1.15.2
annotated-types==0.7.0
anyio==4.9.0
apprise==1.9.3
asgi-lifespan==2.1.0
async-timeout==5.0.1
asyncpg==0.30.0
attrs==25.3.0
awscli==1.31.2
awscli-local==0.21.1
bento-mdf==0.10.0
bento-meta==0.2.8
boto3==1.37.30
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.4
coolname==2.2.0
croniter==2.0.1
cryptography==44.0.2
dateparser==1.2.1
Deprecated==1.2.18
docker==7.1.0
exceptiongroup==1.2.2
fastapi==0.115.12
fsspec==2025.3.2
graphql-core==3.2.6
graphviz==0.20.3
greenlet==3.1.1
griffe==1.7.2
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
humanize==4.12.2
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.1.3
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kubernetes==28.1.0
localstack-client==2.5
Mako==1.3.9
Markdown==3.7
MarkupSafe==3.0.2
mdurl==0.1.2
mock==5.1.0
mypy-boto3-s3==1.37.24
mypy-boto3-secretsmanager==1.37.0
nanoid==2.0.0
neo4j==5.17.0
numpy==1.26.2
oauthlib==3.2.2
openpyxl==3.1.2
opentelemetry-api==1.31.1
orjson==3.10.16
packaging==24.2
pandas==2.1.3
pathspec==0.12.1
pendulum==3.0.0
pluggy==1.3.0
prefect==3.2.14
prefect-aws==0.5.9
prefect-docker==0.6.2
prefect-github==0.3.1
prefect-shell==0.3.1
prometheus_client==0.21.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydantic-extra-types==2.10.3
pydantic-settings==2.8.1
pyfakefs==5.4.1
pyparsing==3.2.3
Pygments==2.19.1
pysam==0.22.1
pytest==7.4.4
pytest-datafiles==3.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.9
python-slugify==8.0.4
python-socks==2.7.1
pytz==2025.2
pytzdata==2020.1
PyYAML==6.0.2
readchar==4.2.1
referencing==0.36.2
regex==2024.11.6
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rpds-py==0.24.0
rsa==4.7.2
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3-tree==0.1.0
shellingham==1.5.4
sgqlc==16.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.40
starlette==0.46.1
tabulate==0.9.0
tenacity==9.1.2
text-unidecode==1.3
time-machine==2.16.0
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.5
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.13.1
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
urllib3==1.26.20
uv==0.6.13
uvicorn==0.34.0
websockets==15.0.1
wrapt==1.17.2
zipp==3.21.0
